*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  transition: color .4s ease, background .4s ease .4s;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6vw;
  line-height: 1.6;
  padding: 2vw;
  color: #fff;
  font-feature-settings: 'case', 'ss01', 'ss02';
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 1080px) { body { font-size: calc(1.6vw * 1.4); } }
@media (max-width: 640px)  { body { font-size: calc(1.6vw * 2.4); } }
@media (max-width: 400px)  { body { font-size: calc(1.6vw * 3.2); } }

h1 {
  font-size: 1000%;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -.05em;
  margin-top: 14vw;
  margin-left: -.8vw;
}

@media (max-width: 1080px) { h1 { font-size: 700%; } }
@media (max-width: 640px)  { h1 { font-size: 400%; } }
@media (max-width: 400px)  { h1 { font-size: 300%; } }

h2 {
  font-size: 250%;
  font-weight: 400;
  line-height: 1.2;
  margin-left: -.2vw;
  margin-bottom: 1.4vw;
}

@media (max-width: 1080px) { h2 { font-size: 180%; } }
@media (max-width: 640px)  { h2 { font-size: 140%; } }
@media (max-width: 400px)  { h2 { font-size: 120%; font-weight: 300; margin-left: -.1vw; } }

h3 {
  font-size: 200%;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 12vw;
  margin-left: -.1vw;
}

@media (max-width: 1080px) { h3 { font-size: 160%; } }
@media (max-width: 640px)  { h3 { font-size: 120%; } }
@media (max-width: 400px)  { h3 { font-size: 100%; font-weight: 300; } }

a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  outline: none;
  border: none;
}

input {
  color: #fff;
  font-family: Menlo, Consolas, monospace;
}

button {
  color: #fff;
  background: transparent;
  padding: 0 10px;
  cursor: pointer;
}

p,
pre {
  margin-bottom: 1.6rem;
  outline: none;
}

code,
pre {
  font-family: Menlo, Consolas, monospace;
}

p code,
li code {
  word-break: break-all;
}

pre {
  padding: 2vw;
  margin: 0 -2vw 1.8rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.wrap {
  max-width: 800px;
}

.sub-heading {
  font-size: 72%;
  text-transform: uppercase;
  margin: 10vmin 0 1rem;
  opacity: .5;
}

.btn-picker {
  display: flex;
  flex-wrap: wrap;
}

.btn-picker button {
  flex-grow: 1;
  text-align: right;
  font-family: Menlo, Consolas, monospace;
  padding: .2em .4em;
}

.btn-picker input {
  width: 8ex;
  padding: .2em .4em;
}

.btn-present {
  display: flex;
  flex-wrap: wrap;
}

.generated-styles {
  font-size: 72%;
  max-height: 12em;
}
