// Import Randomized library
@import "randomized";

/*! BEGIN: app-only */
// The following rules will be removed from final export
@bg-color: #fff;
@link-color: #a212d1;
@code-color: #00cc80;

// Check the luma without gamma correction, this behaviors the same with jscolor.js
.check-bg (@v) when (luminance(@v) >= 50%) {
  @return-bg: mix(#000, @v, 90%);
}

.check-bg (@v) when (luminance(@v) < 50%) {
  @return-bg: mix(#fff, @v, 90%);
}

body {
  .check-bg(@bg-color);
  color: @return-bg;
  background: @bg-color;
}

a {
  color: @link-color;
}

h1 {
  color: @code-color;
}

code {
  color: @code-color;
}

input {
  .check-bg(@bg-color);
  color: @bg-color;
  background: @return-bg;
}

.generated-styles {
  color: @code-color;
  transition-delay: 0s;

  &:focus {
    .check-bg(@bg-color);
    background: fade(@return-bg, 4%);
  }
}
/*! END: app-only */
